@import url("https://fonts.googleapis.com/css?family=Arsenal|Didact+Gothic|Handlee");
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  text-align: center; }

body {
  font-family: "Didact Gothic", sans-serif; }

a {
  color: #F2499D; }
  a:hover {
    color: #73E5A1; }

h2 {
  font-size: 1.8em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Arsenal", sans-serif; }

h3 {
  margin: 1em 2em 2em 2em;
  color: #F2499D;
  font-weight: 1000;
  text-transform: uppercase;
  font-family: "Arsenal", sans-serif;
  font-size: 1.5em; }

.statement p {
  margin: 2em;
  font-size: 1.2em;
  color: #16763d; }

.slogan p {
  color: #F2499D;
  font-size: 2em;
  font-weight: 700;
  font-family: "Arsenal", sans-serif; }

.intro {
  font-size: 1.5em;
  color: #6b6b6b; }
  .intro p {
    padding: 1em; }

nav {
  display: block;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  text-align: right;
  top: 0;
  margin: 0;
  padding: 0.5em;
  z-index: 9999; }

ul {
  list-style: none;
  display: inline;
  padding: 0 3em;
  margin: 0; }
  ul menu {
    padding: 0 6em; }
  ul li {
    display: inline;
    margin: 0.5em; }

.myicons {
  padding: 15% 20%; }

.slogan {
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: 5%;
  right: 5%; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.bgimage {
  width: 100%;
  background: url(../img/title.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  height: 800px; }

.wrapper3 {
  color: #fff;
  background: url(../img/skillsbg.svg) no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  top: -150px;
  margin: 0;
  padding: 9em 0 12em;
  min-height: 800px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }

#skills h2 {
  color: #fff; }

#html, #js, #ps, #xd, #css, #wp, #ai, #ind, #sass {
  color: #F2499D;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  font-weight: 1000;
  display: flex;
  align-items: center;
  justify-content: center; }

#html {
  font-size: 2em;
  height: 5em;
  width: 5em;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 12%; }

#js {
  font-size: 1.5em;
  height: 5em;
  width: 5em;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 9%; }

#ps {
  font-size: 1.5em;
  height: 5.5em;
  width: 5.5em;
  text-align: center;
  position: absolute;
  top: 46%;
  left: 30%; }

#xd {
  font-size: 1.5em;
  height: 5.5em;
  width: 5.5em;
  text-align: center;
  position: absolute;
  top: 68%;
  left: 22%; }

#css {
  font-size: 2em;
  height: 5em;
  width: 5em;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 46%; }

#sass {
  font-size: 2em;
  height: 4em;
  width: 4em;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 46%; }

#wp {
  font-size: 1.5em;
  height: 5.5em;
  width: 5.5em;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 60%; }

#ind {
  font-size: 1.5em;
  height: 6em;
  width: 6em;
  text-align: center;
  position: absolute;
  top: 32%;
  right: 10%; }

#ai {
  font-size: 2em;
  height: 6.5em;
  width: 6.5em;
  text-align: center;
  position: absolute;
  top: 55%;
  right: 15%; }

#projects {
  background: url(../img/projectsbg.svg) no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  top: -550px;
  margin: 0;
  padding: 30em 0 0 0;
  min-height: 400px;
  text-align: center; }

.wrapper4 {
  position: relative;
  top: -400px; }

#contact {
  position: relative;
  top: -250px;
  text-align: center;
  margin: 5em; }

.cta {
  background: linear-gradient(to bottom right, #7A45E5, #F2499D);
  padding: 0.6em 1.2em;
  color: #fff;
  border-radius: 1.2em;
  font-size: 2em;
  text-transform: capitalize;
  cursor: pointer; }
  .cta:hover {
    background: linear-gradient(to bottom right, #7A45E5, #73E5A1);
    color: #fff; }

footer {
  position: relative;
  text-align: center;
  padding: 1em; }

.wrapper1 {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 6em 3em 3em 3em;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .wrapper1 div {
    padding: 1em; }

.wrapper2 {
  background: url(../img/3pointsbg.svg) no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 15em 0 10em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.wrapper4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.button_container {
  position: fixed;
  top: 5%;
  right: 10%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 9999;
  transition: opacity .25s ease;
  visibility: hidden; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF; }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF; }
  .button_container span {
    background: #F2499D;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #F2499D;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 9998; }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    background: none; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 1em auto;
    display: inline-block;
    position: relative;
    height: 60%; }
    .overlay ul li {
      display: block;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #FFF;
          transition: .35s; }

#burgersocial {
  color: #FFF; }
  #burgersocial span {
    padding: 0 0.2em;
    font-size: 0.8em; }
    #burgersocial span a {
      color: #FFF; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
@media (max-width: 1200px) {
  .bgimage {
    height: 600px; }

  #projects {
    top: -500px;
    padding: 25em 0 0 0; } }
@media (max-width: 1000px) {
  #projects {
    top: -450px;
    padding: 20em 0 0 0; }

  .wrapper4 {
    grid-template-columns: 1fr 1fr; } }
@media (max-width: 700px) {
  #desktopnav {
    display: none; }

  #projects {
    top: -400px;
    padding: 17em 0 0 0; }

  .button_container {
    visibility: visible; }

  .bgimage {
    height: 450px; }

  .wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .wrapper2 {
    display: grid;
    grid-template-columns: 1fr; }

  .wrapper4 {
    grid-template-columns: 1fr; }

  #html, #js, #ps, #xd, #css, #wp, #ai, #ind, #sass {
    color: #F2499D;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1em;
    width: 80%;
    text-align: center;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    height: 2em;
    text-align: center;
    top: 0%;
    left: 0%;
    margin: 0.5em 10%; }

  #skills h2 {
    margin: 0 0 2em 0; }

  .cta {
    padding: 0.6em 1em;
    color: #fff;
    border-radius: 1.2em;
    font-size: 1.5em;
    text-transform: capitalize;
    cursor: pointer; } }
@media (max-width: 500px) {
  .wrapper1 {
    display: grid;
    grid-template-columns: 1fr; }

  .bgimage {
    height: 300px; } }

/*# sourceMappingURL=style.css.map */
