$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

.button_container {
  position: fixed;
  top: 5%;
  right: 10%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 9999;
  transition: opacity .25s ease;
  visibility: hidden;
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $high01;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}





.overlay {
  position: fixed;
  background: $high01;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 9998;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    background: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 1em auto;
    display: inline-block;
    position: relative;
    height: 60%; 
    
    li {
      display: block;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }

  }
}

#burgersocial {
 span{
   padding: 0 0.2em;
   font-size: 0.8em;
   a {
    color: $color-link;
   }
}
color: $color-link;
}



@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}