@media (max-width: 1200px) {
    .bgimage {
        height: 500px;
        background-attachment: initial;
       }

    #projects {
        top: -500px;
        padding: 25em 0 0 0;
    }
}

@media (max-width: 1000px){
    #projects {
        top: -450px;
        padding: 20em 0 0 0;
    }

    .wrapper1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }

    .wrapper4{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 700px){
    #desktopnav{
       display: none;
   }

   #projects {
    top: -400px;
    padding: 17em 0 0 0;
   }

   .button_container {
       visibility: visible; 
   }


   .wrapper1 {
    display: grid;
    grid-template-columns: 1fr;
    }

   .wrapper2{
   display: grid;
    grid-template-columns: 1fr;
   }

   .wrapper4{
    grid-template-columns: 1fr;
   }

   #html, #js, #ps, #xd, #css, #wp, #ai, #ind, #sass {
    color: $high01;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 1em;
    width:80%;
    text-align: center;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    height: 2em;
    text-align: center;
    top: 0%;
    left: 0%;
    margin: 0.5em 10%;
    
    }
    
    #skills h2{
        margin: 0 0 2em 0;
    }

    .cta {
        padding: 0.6em 1em;
        color: #fff;
        border-radius: 1.2em;
        font-size: 1.5em;
        text-transform: capitalize;
        cursor: pointer;
     }

}


@media (max-width: 500px){

    .bgimage {
        height: 300px;
        background-attachment: initial;
         }
}

@media (min-width: 1400px){
    #projects {
        top: -730px;
        margin: 0;
        padding: 30em 0 0 0;
        min-height: 500px; 
        text-align: center;
    }

    .wrapper3{
        min-height: 1300px;
        padding: 10em 0 12em;
    }

    body{
        font-size: 150%;
    }
}