@media (max-width: 700px){
    #desktopnav{
       display: none;
   }

   .button_container {
       visibility: visible;
       
   }

   .wrapper2{
   display: grid;
    grid-template-columns: 1fr;
   }

   #html, #js, #ps, #xd, #css, #wp, #ai, #ind {
    color: $high01;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 1em;
    width:80%;
    text-align: center;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    height: 2em;
    text-align: center;
    top: 0%;
    left: 0%;
    margin: 0.5em 10%;
    
    }
    
    #skills h2{
        margin: 0 0 2em 0;
    }

    .cta {
        padding: 0.6em 1em;
        color: #fff;
        border-radius: 1.2em;
        font-size: 1.5em;
        text-transform: capitalize;
        cursor: pointer;
     }

}
