body {
    font-family: $plaintext;
}

a {
    color: $high01;
    &:hover {
        color: $main01;
    }
}

h2 {
    font-size: 1.8em;
    font-weight: 800;
    text-transform: uppercase;
    font-family: $headline;

}

h3 {
    margin: 1em 2em 2em 2em;
    color: $high01;
    font-weight: 1000;
    text-transform: uppercase;
    font-family: $headline;
    font-size: 1.5em;
}

.statement p {
    margin: 2em;
    font-size: 1.2em;
    color: darken($main01, $amount: 40);
}

.slogan p {
    color: $high01;
    font-size: 2em;
    font-weight: 700;
    font-family: $headline;
}

.intro {
    font-size: 1.5em;
    p{
        padding: 1em;
    }
    color: darken($neutral, $amount: 50)
}