// Colors
@import url('https://fonts.googleapis.com/css?family=Arsenal|Didact+Gothic|Handlee');

$main01: #73E5A1; 
$main02: #D4FF66;
$high01: #F2499D;
$high02: #7A45E5;
$neutral: #eaeaea;

$plaintext: 'Didact Gothic', sans-serif;
$headline: 'Arsenal', sans-serif;
$hand:  'Handlee', cursive;